// ### Primary

// - Pink: hsl(322, 100%, 66%)
// --selection-bg: hsl(277, 100%, 50%);

// ### Neutral

// - Very Pale Cyan: hsl(193, 100%, 96%)
// - Very Dark Cyan: hsl(192, 100%, 9%)
// - Grayish Blue: hsl(208, 11%, 55%)
// - white: hsl(0, 0%, 100%);
:root {
  --pink: 322, 100%, 66%;
  --very-pale-cyan: 193 100% 96%;
  --very-dark-cyan: 192, 100%, 9%;
  --grayish-blue: 208, 11%, 55%;
  --selection-bg: 277 100% 50%;
  --white: 0 0% 100%;
}
