@use "../util/" as u;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

$font-poppins: "Poppins", sans-serif;
$font-openSans: 'Open Sans', sans-serif;
// 🥦FONT props
// font-size: u.rem(15);
// font-weight: 500;

// 🥑TEXT props
// line-height: 1.4;
// text-indent: 50px;
// letter-spacing: 0.025em;
// word-spacing: 10px;

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

p,
blockquote {
  font-size: u.rem(18);
  line-height: 1.6;
  font-weight: 500;
}
a,
a:visited,
a:active {
  text-decoration: none;
  background-color: transparent;
}
ul {
  list-style-type: none;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
